
.entername{
  color: orange;
}
.entername{
  color: orange;
}
             
.entername:hover{
  color: green;
}
.realname{

}
.entjhvh{

}
.imabtn{
  color: red;
}
.entername{
  color: green;
}
.thewontonclicker{
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;   
    transition: all 0.25s;
    margin: 20px;
}
.thewontonclicker:hover {
    background: none;  
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
    cursor: pointer;
}
.entername{

}
.entername{

}
.entername{
  color: red;
}
.colorgreen{
  color: green;
}
.mynameisjohn{
  background-color: brown;
  color: white;
}