<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Buttons</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css">
    <link rel="stylesheet" type="text/css" href="/css/allButtons.css">
</head>

<body>
    <%- include('partials/navbar') %>
        <h1>All Buttons</h1>
        <div class="container">
            <% for(let code of codes){ %>
                <p class="invisible">
                    <%= code %>
                </p>
                <% } %>
                    <%- include('partials/buttonCard') %>
        </div>
        <script src="/javascript/allButtons.js"></script>

</body>

</html>