<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <form action="http://localhost:3000/users/login" method="post">
        <div class="loginCard">
            <h1 id="title">Log In</h1>
            <label for="username" id="usernameLabel">Username</label>
            <div class="backDiv">

                <input type="text" name="username" id="username" class="field">
            </div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="field">
            <a href="/forgotpassword" id="forgotPassword">Forgot Password?</a>
            <button id="loginBtn" type="button">LOG IN</button>
            <a href="http://localhost:3000/users/register" id="createAccount">Don't have an account?<span> Create an
                    Account</span></a>
        </div>
    </form>
    <script src="/javascript/login.js"></script>
</body>

</html>