<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/signUp.css">
</head>

<body>
    <form action="http://localhost:3000/users/new" method="post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email">
        <!-- a goated button maker default bio -->
        <label for="bio">Bio:</label>
        <input type="text" name="bio" id="bio">
        <button>Submit</button>
    </form>
</body>

</html>