html {
    height: 100%;
}

body {
    height: 100%;
    background: #ECD9BA;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.069), 0 3px 6px rgba(0, 0, 0, 0.085);
    height: 79%;
    width: 60%;
    transition: all 0.5s;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

a {
    width: 80%;
    text-align: right;
    font-weight: 600;
    text-decoration: none;
    margin-top: -2.2%;
    color: black;
    margin-bottom: 3%;
}

span {
    color: #CF3238;
}

.title {
    font-size: 50px;
    text-align: center;
}

.pt1,
.pt2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s;
}

.field {
    background: #E6E6E6;
    width: 80%;
    height: 10%;
    border: none;
    font-weight: 600;
    font-size: 21px;
    color: rgb(48, 48, 48);
    border-radius: 4px;
    margin-bottom: 3%;
    transition: all 0.25s;
}

label {
    font-weight: 500;
    font-size: 20px;
    text-align: left;
    width: 80%;
    margin-bottom: 0.5%;
}

.btn {
    width: 80%;
    height: 10%;
    border-radius: 4px;
    border: none;
    background-color: #040405;
    color: #FFF;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    margin-top: 2%;
}

.pt2>.btn {
    margin-bottom: 0;
}

.none {
    display: none;
}

#bio {
    height: 12%;
}

#options {
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    height: 20%;
}

.option {
    height: 90%;
    width: auto;
    border-radius: 50%;
    transition: all 0.1s;
}

.selected {
    border: 5px solid #0275d8;
}

#profilePicture {
    visibility: hidden;
    position: absolute;
}

.top {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#backArrow {
    height: 35%;
    width: auto;
    cursor: pointer;
    position: relative;
    right: 14%;
}

.missing {
    border: 2.5px solid #d9534f;
}