html {
    width: 100%;
    height: 100%;
}

body {
    margin: 0 0 0;
    height: 100%;
    width: 100%;
    background: #ECD9BA;
}

.name {
    font-size: 30px;
    font-weight: 700;
}

.h3 {
    font-size: 23px;
    font-weight: 700;
}

.oneFlex {
    position: relative;
    top: 1%;
    display: flex;
    width: 100%;
    justify-content: center;
}

.oneFlex>* {
    margin: auto;
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

#profilePicture {
    margin-top: 10%;
    max-width: 11%;
    max-height: auto;
    border-radius: 50%;
}

.moreInfo {
    position: relative;
    margin-top: -0.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

iframe {
    width: 100%;
    height: 70%;
    margin: 0 0 0 0;
}

.h4 {
    color: #CF3238;
    font-size: 20px;
    font-weight: 700;
}

.icons {
    position: relative;
    top: -9%;
    display: flex;
}

.icon {
    height: 23px;
    width: auto;
}

.bigIcon {
    height: 23px;
    width: auto;
}

.bio {
    position: relative;
    top: -7%;
    font-size: 19px;
    font-weight: 700;
}





.navBar {
    width: 100%;
    height: 5.3%;
    background-color: #C4C4C4;
    margin: 0 0 0 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.first {
    display: flex;
    margin: 0 0 0 0;
    width: 50%;
}

.first>a {
    color: black;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    margin-left: 5%;
}

.second {
    margin: 0 0 0 0;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.second>button {
    height: 80%;
    width: 15%;
    margin: 0 1.5% 0 0%;
    border-radius: 3px;
    border: 1px solid black;
    font-weight: 400;
    transition: all 0.25s;
}

.second>button:hover {
    cursor: pointer;
    background: rgb(229, 229, 229);
}

.searchIcon {
    height: 67%;
    width: auto;
    margin-right: 2%;
}

.cornerProfilePic {
    height: 85%;
    width: auto;
    border-radius: 8%;
    justify-self: flex-end;
    margin-right: 6%;
}




.navFlex {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 0;
}








.cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.card {
    width: 26%;
    height: 35vh;
    background-color: #C4C4C4;
    margin: 2%;
    border-radius: 8px;
}

.info {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    display: flex;
    align-items: center;
    height: 30%;
    margin: 0 0 0 0;
}

iframe {
    width: 100%;
    height: 70%;
    margin: 0 0 0 0;
}

.invisible {
    position: absolute;
    color: transparent;
    width: 1px;
}

.profilePic {
    padding: 3%;
    width: 11%;
    height: auto;
    border-radius: 50%;
}

.flex {
    height: 35%;
    flex-wrap: nowrap;
}

.inline {
    margin: 0 0 0 0;
}

.red {
    margin: 0 0 0 0;
    color: #CF3238;
    text-decoration: none;
}

.red:hover {
    text-decoration: underline;
    cursor: pointer;
}











.product-review-stars {
    transform: scale(0.8);
}

.visuallyhidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}


.product-review-stars input:checked+label:after {
    visibility: visible;
    -webkit-transform: scale(1);
    opacity: 1;
}

.product-review-stars {
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 205px;
}

.product-review-stars label {
    font-family: "icomoon";
    font-size: 2em;
    position: relative;
    cursor: pointer;
    color: #DFE3E4;
}

.product-review-stars input:checked~label:before {
    opacity: 1;
}

.product-review-stars:hover input~label:before {
    opacity: 0;
}

.product-review-stars input+label:before {
    content: "\2605";
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity .25s ease-in-out, color .3s ease-in-out;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    /* Chrome and Safari */
    -moz-backface-visibility: hidden;
    /* Firefox */
    -ms-backface-visibility: hidden;
    /* Internet Explorer */
}

.product-review-stars input+label:hover:before,
.product-review-stars input+label:hover~label:before {
    opacity: 1;
}

.product-review-stars input+label:nth-of-type(1):after,
.product-review-stars input+label:nth-of-type(1):before,
.product-review-stars input+label:nth-of-type(1):hover:before,
.product-review-stars input+label:nth-of-type(1):hover~label:before,
.product-review-stars input:nth-of-type(1):checked~label:before {
    color: #2ecc71;
}

.product-review-stars input+label:nth-of-type(2):after,
.product-review-stars input+label:nth-of-type(2):before,
.product-review-stars input+label:nth-of-type(2):hover:before,
.product-review-stars input+label:nth-of-type(2):hover~label:before,
.product-review-stars input:nth-of-type(2):checked~label:before {
    color: #f1c40f;
}

.product-review-stars input+label:nth-of-type(3):after,
.product-review-stars input+label:nth-of-type(3):before,
.product-review-stars input+label:nth-of-type(3):hover:before,
.product-review-stars input+label:nth-of-type(3):hover~label:before,
.product-review-stars input:nth-of-type(3):checked~label:before {
    color: #F39C12;
}

.product-review-stars input+label:nth-of-type(4):after,
.product-review-stars input+label:nth-of-type(4):before,
.product-review-stars input+label:nth-of-type(4):hover:before,
.product-review-stars input+label:nth-of-type(4):hover~label:before,
.product-review-stars input:nth-of-type(4):checked~label:before {
    color: #e74c3c;
}

.product-review-stars input+label:nth-of-type(5):after,
.product-review-stars input+label:nth-of-type(5):before,
.product-review-stars label:nth-of-type(5):hover:before,
.product-review-stars input:nth-of-type(5):checked~label:before {
    color: #d35400;
}

.product-review-stars label:nth-of-type(5):hover:before {
    color: #d35400 !important;
}